# macOS
._*
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
build-raylib/
build-qt/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a

# Binaires
PoloRaylib
appPoloOS

# Vidéos et gros fichiers
assets/circulation-video/
*.mp4
*.avi
*.mov
*.mkv
*.glb
*.venv/
.venv/
